<section class="bg-primary text-white mb-0" id="about">
  <div class="container">
    <h2 class="text-center text-uppercase text-white">About Me</h2>
    <hr class="star-light mb-5">
    <div class="row">
      <div class="col-lg-4 ml-auto">
        <p class="lead">Freelancer is a free bootstrap theme created by Start Bootstrap. The download includes the complete source files including HTML, CSS, and JavaScript as well as optional LESS stylesheets for easy customization.</p>
      </div>
      <div class="col-lg-4 mr-auto">
        <p class="lead">Whether you're a student looking to showcase your work, a professional looking to attract clients, or a graphic artist looking to share your projects, this template is the perfect starting point!</p>
      </div>
    </div>
    <div class="text-center mt-4">
      <a class="btn btn-xl btn-outline-light" href="#">
        <i class="fas fa-download mr-2"></i>
        Download CV
      </a>
    </div>
  </div>
</section>

<!--technical start-->
<section class="technical" id="technical">
  <div class="container">

    <div class="heading">
      <h2 class="text-center text-uppercase text-secondary">Technical Skills</h2>
      <hr class="star-dark mb-5">
    </div>
    <div class="row">

      <div class=" col-xs-12 col-sm-4 col-md-4 col-lg-4 skillsArea">
        <div class=" col-xs-12 col-sm-6 col-md-6 col-lg-6 skills">

                    	<span class="chart skilBg" data-percent="90">
                            <span class="percent"></span>
                        </span>

          <h4>HTML5 / CSS3</h4>
          <p>Donec accumsan ligula vitae mag na curabitur id</p>
        </div>
      </div>

      <div class=" col-xs-12 col-sm-4 col-md-4 col-lg-4 skillsArea">
        <div class=" col-xs-12 col-sm-6 col-md-6 col-lg-6 skills">

                        <span class="chart skilBg" data-percent="80">
                            <span class="percent"></span>
                        </span>

          <h4>jQuery</h4>
          <p>Donec accumsan ligula vitae mag na curabitur id</p>
        </div>
      </div>

      <div class=" col-xs-12 col-sm-4 col-md-4 col-lg-4 skillsArea">
        <div class=" col-xs-12 col-sm-6 col-md-6 col-lg-6 skills">

                    	<span class="chart skilBg" data-percent="80">
                            <span class="percent"></span>
                        </span>

          <h4>Javascript</h4>
          <p>Donec accumsan ligula vitae mag na curabitur id</p>
        </div>
      </div>

      <div class=" col-xs-12 col-sm-4 col-md-4 col-lg-4 skillsArea">
        <div class=" col-xs-12 col-sm-6 col-md-6 col-lg-6 skills">

                        <span class="chart skilBg" data-percent="75">
                            <span class="percent"></span>
                        </span>

          <h4>Bootstrap</h4>
          <p>Donec accumsan ligula vitae mag na curabitur id</p>
        </div>
      </div>

      <div class=" col-xs-12 col-sm-4 col-md-4 col-lg-4 skillsArea">
        <div class=" col-xs-12 col-sm-6 col-md-6 col-lg-6 skills">

                        <span class="chart skilBg" data-percent="60">
                            <span class="percent"></span>
                        </span>

          <h4>RWD</h4>
          <p>Donec accumsan ligula vitae mag na curabitur id</p>
        </div>
      </div>

      <div class=" col-xs-12 col-sm-4 col-md-4 col-lg-4 skillsArea">
        <div class=" col-xs-12 col-sm-6 col-md-6 col-lg-6 skills">

                        <span class="chart skilBg" data-percent="65">
                            <span class="percent"></span>
                        </span>

          <h4>less / sass</h4>
          <p>Donec accumsan ligula vitae mag na curabitur id</p>
        </div>
      </div>

    </div>

  </div>
</section>
<!--technical end-->


<!--exprience start-->
<section class="bg-primary exprience" id="exprience">

  <div class="container">
    <div class="heading">
      <h2 class="text-center text-uppercase text-white">Work Experience</h2>
      <hr class="star-light mb-5">
    </div>

    <div class="row workDetails">
      <div class="col-xs-12 col-sm-3 col-md-2 col-lg-2">
        <div class="workYear">Jun,2014<br> Present</div>
      </div>
      <div class="col-xs-12 col-sm-9 col-md-10 col-lg-10 rightArea">
        <div class="arrowpart"></div>
        <div class="exCon">
          <h4>Bridge2Solutions</h4>
          <h5>UI / Front-end Developer</h5>
          <p>Nam liber tempor cum soluta nobis eleifend option congue nihil imperdiet doming id quom placerat facer possim assum. Typi non habent claritatem insitam; est usus legentis in iis qui faorum claritatem. Investigationes demonstraverunt lectores legere me lius quod ii legunt saepius.</p>
        </div>
      </div>
    </div>

    <div class="row workDetails">
      <div class="col-xs-12 col-sm-3 col-md-2 col-lg-2">
        <div class="workYear">Jun,2009<br> Aug,2012</div>
      </div>
      <div class="col-xs-12 col-sm-9 col-md-10 col-lg-10 rightArea">
        <div class="arrowpart"></div>
        <div class="exCon">
          <h4>F5 Systems</h4>
          <h5>Trainee / Web Developer</h5>
          <p>Nam liber tempor cum soluta nobis eleifend option congue nihil imperdiet doming id quom placerat facer possim assum. Typi non habent claritatem insitam; est usus legentis in iis qui faorum claritatem. Investigationes demonstraverunt lectores legere me lius quod ii legunt saepius.</p>
        </div>
      </div>
    </div>

  </div>

</section>
<!--exprience end-->
