<section class="bg-primary text-white mb-0" id="about">
    <div class="container">
        <h2 class="text-center text-uppercase text-white">About Me</h2>
        <hr class="star-light mb-5">
        <div class="row">
            <div class="col-lg-4 ml-auto">
                <p class="lead">
                    Hi! I'm <span class="highlight-text">Palak</span>, a design-oriented front-end developer with around <span class="highlight-text">5 years</span> of experience in wide range of disciplines.
                    I'm passionate about building excellent User
                    Experience/ User Interface that improves the lives of those around me.
                </p>
            </div>
            <div class="col-lg-4 mr-auto">
                <p class="lead">
                    I specialize in creating User Interface for clients ranging from individuals and small businesses
                    all the way to large corporations.
                    What would you do if you had a UI expert available at your fingertips?
                </p>
            </div>
        </div>
        <div class="text-center mt-4">
            <a class="btn btn-xl btn-outline-light" download="Palak_Soni_Resume.pdf"
               href="https://drive.google.com/file/d/1QLHmNnBXtrCUTxkc4uoi0VwbEovkQkef/view?usp=sharing"
               target="_blank">
                <i class="fas fa-download mr-2"></i>
                Download CV
            </a>
        </div>
    </div>
</section>
