<section class="bg-primary text-white mb-0" id="about">
    <div class="container">
        <h2 class="text-center text-uppercase text-white">About Me</h2>
        <hr class="star-light mb-5">
        <div class="row">
            <div class="col-lg-4 ml-auto">
                <p class="lead">
                    Hi! I'm Palak, a design-oriented front-end developer with over 4 years of experience in wide range of disciplines.
                    I'm passionate about building excellent User
                    Experience/ User Interface that improves the lives of those around me.
                </p>
            </div>
            <div class="col-lg-4 mr-auto">
                <p class="lead">
                    I specialize in creating User Interface for clients ranging from individuals and small businesses
                    all the way to large corporations.
                    What would you do if you had a UI expert available at your fingertips?
                </p>
            </div>
        </div>
        <!--<div class="text-center mt-4">
            <a class="btn btn-xl btn-outline-light" href="#" download="src/assets/Palak_Soni_Resume.docx">
                <i class="fas fa-download mr-2"></i>
                Download CV
            </a>
        </div>-->
    </div>
</section>
