<section class="bg-primary exprience" id="experience">

  <div class="container">
    <div class="heading">
      <h2 class="text-center text-uppercase text-white">Work Experience</h2>
      <hr class="star-light mb-5">
    </div>

    <div class="row workDetails">
      <div class="col-xs-12 col-sm-3 col-md-2 col-lg-2">
        <div class="workYear">Jan, 2018<br> Present</div>
      </div>
      <div class="col-xs-12 col-sm-9 col-md-10 col-lg-10 rightArea">
        <div class="arrowpart"></div>
        <div class="exCon">
          <h4>Freelancer</h4>
          <h5>UI / Front-end Developer</h5>
          <p>Modern, forward-thinking UI Developer, seeking creative challenges to bring responsive design to
            the multitudes of devices with which people access information.</p>
        </div>
      </div>
    </div>

    <div class="row workDetails">
      <div class="col-xs-12 col-sm-3 col-md-2 col-lg-2">
        <div class="workYear">May, 2014<br> Oct, 2017</div>
      </div>
      <div class="col-xs-12 col-sm-9 col-md-10 col-lg-10 rightArea">
        <div class="arrowpart"></div>
        <div class="exCon">
          <h4>F5 Systems</h4>
          <h5>Web Developer</h5>
          <p>F5 Systems is client based web development & design company in Vadodara, Gujarat, India that
            developed websites based on specific needs and requirements.</p>
        </div>
      </div>
    </div>
  </div>

</section>
