
<!--technical start-->
<section class="technical" id="technical">
  <div class="container">

    <div class="heading">
      <h2 class="text-center text-uppercase text-secondary">Technical Skills</h2>
      <hr class="star-dark mb-5">
    </div>
    <div class="row">

      <div class=" col-xs-12 col-sm-4 col-md-4 col-lg-4 skillsArea">
        <div class=" col-xs-12 col-sm-6 col-md-6 col-lg-6 skills">

          <!--<span class="chart skilBg" data-percent="90">-->
          <!--<span class="percent"></span>-->
          <!--</span>-->
          <div class="progress" data-percentage="90">
                            <span class="progress-left">
                                <span class="progress-bar"></span>
                            </span>
            <span class="progress-right">
                                <span class="progress-bar"></span>
                            </span>
            <div class="chart skilBg">
              <div class="percent">
                90%
              </div>
            </div>
          </div>
          <h4>HTML5 / CSS3</h4>
          <p>Donec accumsan ligula vitae mag na curabitur id</p>
        </div>
      </div>

      <div class=" col-xs-12 col-sm-4 col-md-4 col-lg-4 skillsArea">
        <div class=" col-xs-12 col-sm-6 col-md-6 col-lg-6 skills">

          <div class="progress" data-percentage="80">
                            <span class="progress-left">
                                <span class="progress-bar"></span>
                            </span>
            <span class="progress-right">
                                <span class="progress-bar"></span>
                            </span>
            <div class="chart skilBg">
              <div class="percent">
                80%
              </div>
            </div>
          </div>
          <h4>jQuery</h4>
          <p>Donec accumsan ligula vitae mag na curabitur id</p>
        </div>
      </div>

      <div class=" col-xs-12 col-sm-4 col-md-4 col-lg-4 skillsArea">
        <div class=" col-xs-12 col-sm-6 col-md-6 col-lg-6 skills">

          <div class="progress" data-percentage="80">
                            <span class="progress-left">
                                <span class="progress-bar"></span>
                            </span>
            <span class="progress-right">
                                <span class="progress-bar"></span>
                            </span>
            <div class="chart skilBg">
              <div class="percent">
                80%
              </div>
            </div>
          </div>

          <h4>Javascript</h4>
          <p>Donec accumsan ligula vitae mag na curabitur id</p>
        </div>
      </div>

      <div class=" col-xs-12 col-sm-4 col-md-4 col-lg-4 skillsArea">
        <div class=" col-xs-12 col-sm-6 col-md-6 col-lg-6 skills">

          <div class="progress" data-percentage="80">
                            <span class="progress-left">
                                <span class="progress-bar"></span>
                            </span>
            <span class="progress-right">
                                <span class="progress-bar"></span>
                            </span>
            <div class="chart skilBg">
              <div class="percent">
                80%
              </div>
            </div>
          </div>

          <h4>Bootstrap</h4>
          <p>Donec accumsan ligula vitae mag na curabitur id</p>
        </div>
      </div>

      <div class=" col-xs-12 col-sm-4 col-md-4 col-lg-4 skillsArea">
        <div class=" col-xs-12 col-sm-6 col-md-6 col-lg-6 skills">

          <div class="progress" data-percentage="90">
                            <span class="progress-left">
                                <span class="progress-bar"></span>
                            </span>
            <span class="progress-right">
                                <span class="progress-bar"></span>
                            </span>
            <div class="chart skilBg">
              <div class="percent">
                80%
              </div>
            </div>
          </div>

          <h4>RWD</h4>
          <p>Donec accumsan ligula vitae mag na curabitur id</p>
        </div>
      </div>

      <div class=" col-xs-12 col-sm-4 col-md-4 col-lg-4 skillsArea">
        <div class=" col-xs-12 col-sm-6 col-md-6 col-lg-6 skills">


          <div class="progress" data-percentage="70">
                            <span class="progress-left">
                                <span class="progress-bar"></span>
                            </span>
            <span class="progress-right">
                                <span class="progress-bar"></span>
                            </span>
            <div class="chart skilBg">
              <div class="percent">
                80%
              </div>
            </div>
          </div>

          <h4>less / sass</h4>
          <p>Donec accumsan ligula vitae mag na curabitur id</p>
        </div>
      </div>

    </div>

  </div>
</section>
<!--technical end-->
