
<!--technical start-->
<section class="technical" id="skills">
  <div class="container">

    <div class="heading">
      <h2 class="text-center text-uppercase text-secondary">Technical Skills</h2>
      <hr class="star-dark mb-5">
    </div>

    <div class="row">
      <div class=" col-xs-12 col-sm-4 col-md-4 col-lg-4 skillsArea">
        <div class=" col-xs-12 col-sm-6 col-md-6 col-lg-6 skills">
          <div class="progress" data-percentage="90">
            <span class="progress-left">
                <span class="progress-bar"></span>
            </span>
            <span class="progress-right">
                <span class="progress-bar"></span>
            </span>
            <div class="chart skilBg">
              <div class="percent"> 90% </div>
            </div>
          </div>
          <h4>HTML5 / CSS3</h4>
          <p>Standard markup language for creating web pages</p>
        </div>
      </div>

      <div class=" col-xs-12 col-sm-4 col-md-4 col-lg-4 skillsArea">
        <div class=" col-xs-12 col-sm-6 col-md-6 col-lg-6 skills">
          <div class="progress" data-percentage="80">
            <span class="progress-left">
                <span class="progress-bar"></span>
            </span>
            <span class="progress-right">
                <span class="progress-bar"></span>
            </span>
            <div class="chart skilBg">
              <div class="percent"> 80% </div>
            </div>
          </div>
          <h4>jQuery</h4>
          <p>Write less do more JavaScript library</p>
        </div>
      </div>

      <div class=" col-xs-12 col-sm-4 col-md-4 col-lg-4 skillsArea">
        <div class=" col-xs-12 col-sm-6 col-md-6 col-lg-6 skills">
          <div class="progress" data-percentage="70">
            <span class="progress-left">
                <span class="progress-bar"></span>
            </span>
            <span class="progress-right">
                <span class="progress-bar"></span>
            </span>
            <div class="chart skilBg">
              <div class="percent"> 70% </div>
            </div>
          </div>
          <h4>Javascript</h4>
          <p>Language commonly used to create interactive effects within web browsers</p>
        </div>
      </div>

      <div class=" col-xs-12 col-sm-4 col-md-4 col-lg-4 skillsArea">
        <div class=" col-xs-12 col-sm-6 col-md-6 col-lg-6 skills">
          <div class="progress" data-percentage="50">
            <span class="progress-left">
                <span class="progress-bar"></span>
            </span>
            <span class="progress-right">
                <span class="progress-bar"></span>
            </span>
            <div class="chart skilBg">
              <div class="percent"> 50% </div>
            </div>
          </div>
          <h4>Angular</h4>
          <p>MVC framework to build a Single page application using TypeScript, Rxjs and Webpack</p>
        </div>
      </div>

      <div class=" col-xs-12 col-sm-4 col-md-4 col-lg-4 skillsArea">
        <div class=" col-xs-12 col-sm-6 col-md-6 col-lg-6 skills">

          <div class="progress" data-percentage="90">
            <span class="progress-left">
                <span class="progress-bar"></span>
            </span>
            <span class="progress-right">
                <span class="progress-bar"></span>
            </span>
            <div class="chart skilBg">
              <div class="percent"> 90% </div>
            </div>
          </div>
          <h4>Bootstrap / RWD</h4>
          <p>To Develop a website with mobile-first concept</p>
        </div>
      </div>

      <div class=" col-xs-12 col-sm-4 col-md-4 col-lg-4 skillsArea">
        <div class=" col-xs-12 col-sm-6 col-md-6 col-lg-6 skills">
          <div class="progress" data-percentage="70">
            <span class="progress-left">
                <span class="progress-bar"></span>
            </span>
            <span class="progress-right">
                <span class="progress-bar"></span>
            </span>
            <div class="chart skilBg">
              <div class="percent"> 70% </div>
            </div>
          </div>
          <h4>sass / less</h4>
          <p>CSS preprocessors to add logic in stylesheets</p>
        </div>
      </div>
    </div>

  </div>
</section>
<!--technical end-->
